.h-line {
  border: 1px solid #e4e7eb;
}

.answer {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 14px;
}

.faq-list-item {
  list-style-type: none;
  border: 1px solid #d7dae6;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.faq-container {
  display: flex;
  flex-direction: column;
}

.qsn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 18px;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  width: 20px;
}
